/*STYLES RESET*/
*{
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: large;
    max-width: 1400px;
    padding: 0;
    margin: 0 auto;
    }
    
    li {
        list-style: none;
    }
    
    a {
        text-decoration: none;
        color: #000000;
    }
    
    p {
        padding: 20px 20px 0px 30px;
    }

    article {
        padding: 10px 0px 10px 20px;
    }


/*--FONTS--*/

@font-face {
    font-family: hello;
    src: url(hello.ttf);
}

@font-face {
    font-family: bunny;
    src: url(bunny.otf);
}

@font-face {
    font-family: clouts;
    src: url(clouts.ttf);
}

/*--TITLES--*/

h1{
    font-family: bunny;
    font-size: 80px;
    color: #d4af37;
    text-align: center;
}

h2{
    font-family: hello;
    font-size: 80px;
    color: #d4af37;
    text-align: center;
}

h3 {
    font-family: clouts;
    font-size: 70px;
    font-weight: lighter;
    align-items: center;
    text-align: center;
    padding: 10px 0px 10px 20px;
}

h4 {
    font-family: clouts;
    font-size: 35px;
    font-weight: lighter;
    align-items: center;
    text-align: center;
    padding: 10px 0px 10px 20px;
}
